.direnv/
scripts/venv/
scripts/node_modules/
scripts/storage/
scripts/assets/POPS-binaries-main/
scripts/assets/OPL/boot.kelf
scripts/assets/OPL/system.cnf
scripts/assets/NHDDL/boot.kelf
scripts/assets/NHDDL/system.cnf
scripts/assets/extras/
scripts/helper/.libs
games/ART/*.png
games/APPS/*.psu
scripts/assets/HDD-OSD/
games/APPS/HDD-OSD.elf
games/APPS/PSBBN.ELF
*.log
*.gz
*.zip
*.st
*.iso
*.ISO
*.zso
*.ZSO
*.vcd
*.VCD
*.json
*.mp3
*.m4a
*.flac
*.ogg
IOPRP252.IMG
POPS.ELF
gamepath.cfg
bnupdate.tar.gz
path.cfg